html, body {
    height: 100% !important;
    margin: 0;
    padding: 0;
    background: #4fac86;
}

.page-wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.content-wrapper {
    flex: 1;
}

.footer-wrapper {
    flex-shrink: 0;
}

html {
    scroll-behavior: smooth;
}

.light-background {
    background: var(--Colors-Crystal-Lining-200, rgba(225, 236, 250, 1)) !important;
}

.shadow-effect {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.login-title {
    color: #126323;
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.login-sub-title {
    color: rgba(79, 172, 134, 1);
    font-weight: 600;
    font-size: 1.1rem;
}

.login-description {
    color: #2e6348;
    font-weight: 600;
    margin-top: 10px;
    font-size: 1rem;
}

.btn-login {
    background-color: #2e6348 !important;
    border-color: #2e6348 !important;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    padding: 12px;
    transition: all 0.3s ease;
}

.btn-login:hover {
    background-color: #2e6348;
    transform: translateY(-2px);
}

.form-label {
    font-size: 1rem;
    font-weight: 500;
    color: #333;
}

.form-control {
    border-radius: 8px;
    padding: 12px;
    font-size: 1rem;
}

.alert-danger {
    border-radius: 8px;
    padding: 10px;
}

.dropify-message p {
    font-size: 16px !important; /* Adjust the font size */
    color: #a3a3a3 !important; /* Adjust the color if needed */
}

/* Change background and text color of selected items */
.select2-container--default
    .select2-selection--multiple
    .select2-selection__choice {
    background-color: rgba(
        39,
        126,
        182,
        1
    ) !important; /* Change to your desired color */
    color: white !important;
    border: 1px solid rgba(39, 126, 182, 1) !important;
    border-radius: 5px; /* Optional: Add rounded corners */
    padding: 1px 1px;
    font-size: 16px;
}

/* Change hover effect for selected items */
.select2-container--default
    .select2-selection--multiple
    .select2-selection__choice:hover {
    background-color: rgba(39, 126, 182, 1) !important;
    border-color: rgba(39, 126, 182, 1) !important;
}

/* Adjust input field inside the selection box */
.select2-container--default .select2-selection--multiple {
    min-height: 40px;
    padding: 2px;
}

.select2-container .select2-selection--single {
    height: 40px !important;
    padding: 0px !important;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    line-height: 40px !important;
}
.select2-container .select2-selection--single .select2-selection__arrow {
    height: 40px !important;
}


/* navbar */
.custom-navbar {
    background-color: #fff;
    height: 60px;
}

.vertical-divider {
    width: 2px;
    height: 28px;
    background-color: #fa9537;
    display: inline-block;
    border-radius: 1px;
}

.navbar-user-box {
    background-color: #0B4F35;
    min-width: 250px;
    justify-content: center;
    height: 100%;
}

.navbar-kumana-title {
    font-weight: 600;
    color: #0B4F35;
    margin-bottom: 0;
}

.navbar-kumana-subtitle {
    color: #93999e;
    font-size: 20px;
    font-weight: 400;
}

.navbar-home-link {
    color: #212529;
    text-decoration: none;
    font-weight: 450;
    font-size: 16px;
    transition: color 0.2s;
    text-decoration: none;
}

.navbar-home-link:hover {
    color: #93999e;
    text-decoration: none;
}

.navbar-user-welcome {
    font-size: 14px;
    font-weight: 500;
    color: #93999e;
}

.navbar-user-name {
    font-size: 18px;
    font-weight: 400;
    color: #dadada;
}

.navbar-user-icon {
    color: #dadada;
    font-size: 18px;
}
